body{
    font-family: 'Ubuntu', sans-serif;
}
.first-sec{
    width:100%;
    height:500px;
    background-image: url(images/flood\ bg.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 150px;
}

.first-sec h1{
    font-size: 50px;
    color: white;
    line-height: 15px;
    text-shadow: 1px 1px black;
}
.first-sec p{
    font-size: 20px;
    color: rgb(224, 224, 224);
}
.first-sec a{
    text-decoration: none;
    color: white;
    background-color:rgba(255, 69, 69, 0.703);
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 15px;
    text-shadow: .5px .5px black;
}
.first-sec-div{
    text-align: center;
    padding: 8% 16%;
}

/* End first sec */

.second-sec{
    margin-bottom: 150px;
}
.second-sec-first-div{
    text-align: center;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.second-sec-first-div h1{
    font-size: 40px;
    
}
.second-sec-second-div{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 25px;
}
.money{
    width: 20%;
    text-align: center;
    margin:11px;
    padding: 30px 35px;
    margin-bottom: 30px;
}
.money-1{
    border: 1px solid rgb(248, 127, 127);
    background-color: rgb(255, 213, 213);
    color: rgb(255, 119, 119);
    text-shadow: .5px .5px black;
    border-radius: 5px;

}
.div-input{
    text-align: center;
    margin-bottom: 20px;
    margin: 0 15%;
}

.input{
    text-align: center;
    align-items: center;
    border: 0;
    background: transparent;
    font-size: 20px;
   
}
.donate-btn{
    text-align: center;
    margin-top: 50px;

}
.donate-btn a {
    text-decoration: none;
    color: white;
    background-color:rgba(255, 89, 89, 0.703);
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 20px;
    text-shadow: .5px .5px black;
}

/* End second sec */

.third-sec{
    margin-bottom: 150px;
}
.third-sec-div{
    text-align: center;
    margin: 0 10%;
}
.third-sec-div h1{
    font-size: 40px;
}
.box{
    display: flex;
    width: 100%;
    margin-top: 5%;

}
.single-box{
    width: 31%;
    text-align: center;
    background: rgb(208, 250, 255);
    padding: 25px;
    margin: 1%;
}

/* End third sec */

.fourth-sec-div{
    display: flex;
    padding: 50px;
    
}
.fourth-sec-div img{
    width: 550px;
    height: 500px;
    border-radius: 10px;

}
.fourth-sec-div h1{
    font-size: 40px;
}
.fourth-sec-div a{
    text-decoration: none;
    color: white;
    background-color:rgba(255, 89, 89, 0.703);
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 20px;
    text-shadow: .5px .5px black;
}
.fourth-sec-div-info{
    margin: 2%;
    text-align: justify;
}

/* End fourth sec */

.fifth-sec{
    margin-bottom: 101px;
}
.fifth-sec-div{
    display: flex;
    padding: 50px;
}
.fifth-sec-div img{
    width: 550px;
    height: 500px;
    border-radius: 10px;

}
.fifth-sec-div h1{
    font-size: 40px;
}
.fifth-sec-div a {
    text-decoration: none;
    color: white;
    background-color:rgba(255, 89, 89, 0.703);
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 20px;
    text-shadow: .5px .5px black;
}
.fifth-sec-div-info{
    margin: 2%;
    text-align: justify;
}

/* End fifth sec */

.sec-bonus{
    margin-bottom: 150px;
}
.numbers{
    display: flex;
    width: 74%;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.397);
    text-align: center;
    padding: 3% 10%;
    margin-left: 3%;
    border-radius: 20px;
}
.div-numbers{
    width: 33%;
    margin-left: 5px;
}
.div-numbers h1{
    font-size: 50px;
    font-weight: bold;
}

/* End bonus sec */

.sixth-sec{
    margin-bottom: 150px;
}
.sixth-sec-div{
    text-align: center;
    padding: 10px 15%;
    margin-bottom: 25px;
}
.sixth-sec-div h1{
    font-size: 40px;
}
.sixth-sec-div p{
    font-size: 20px;
}
.sixth-sec-form{
    display: flex;
    background-color: rgb(255, 226, 226);
    text-align: center;
    padding-left: 20%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 20%;
}
.sixth-sec-form a{
    text-decoration: none;
    background-color: rgba(255, 135, 135, 0.806);
    padding: 1.5px 10px;
    color: white;
}

/* End sixth sec */

footer{
    background-color: black;
    text-align: center;
    height: 200px;
}

footer h1{
    color: rgba(255, 144, 194, 0.717);
    font-size: 30px;
    font-family: 'Lobster', cursive ;
    padding-top: 4%;
}
footer p{
    color: white;
}

/* End everything! */

